[submodule "extern/ABY"]
	path = extern/ABY
	url = https://github.com/encryptogroup/ABY.git
[submodule "extern/HashingTables"]
	path = extern/HashingTables
	url = https://github.com/Oleksandr-Tkachenko/HashingTables.git
[submodule "extern/libOTe"]
	path = extern/libOTe
	url = https://github.com/osu-crypto/libOTe.git
